In [18]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from pathlib import Path

# np.random.seed(42)

#generowanie wykresów

In [19]:
# wczytanie plików
datapath = Path() / "\pyton_projects-AK\WdUM" / "data" / "lifesat"
oecd_bli = pd.read_csv(datapath / "oecd_bli.csv")
gdp_per_capita = pd.read_csv(datapath / "gdp_per_capita.csv")

In [20]:
display(oecd_bli)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.40,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.50,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.70,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.00,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,0.54,NaN,NaN
2365,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,32.09,NaN,NaN
2366,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,0.67,NaN,NaN
2367,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,19.37,NaN,NaN
2368,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,0.43,NaN,NaN

In [21]:
# wybranie roku 2020 z "gdp_per_capita" i zmania nazwy kolumny
gdp_per_capita_2020 = gdp_per_capita[gdp_per_capita["Year"]==2020]
gdp_per_capita_2020 = gdp_per_capita_2020.rename(
    columns={"GDP per capita, PPP (constant 2017 international $)": "GDP per capita (USD)"}
)

In [22]:
oecd_bli["Indicator"].value_counts()

Indicator
Student skills                                       200
Self-reported health                                 182
Quality of support network                           168
Life satisfaction                                    168
Labour market insecurity                             162
Homicide rate                                        123
Feeling safe walking alone at night                  123
Life expectancy                                      123
Water quality                                        123
Employment rate                                      123
Years in education                                   120
Educational attainment                               120
Long-term unemployment rate                          117
Employees working very long hours                    117
Time devoted to leisure and personal care             69
Air pollution                                         41
Voter turnout                                         41
Stakeholder engagement for developing regulations     39
Housing expenditure                                   39
Rooms per person                                      38
Dwellings without basic facilities                    38
Personal earnings                                     36
Household net adjusted disposable income              30
Household net wealth                                  29
Name: count, dtype: int64

In [23]:
# wybranie interesujących danych z "oecd_bli" i robimy pivot table
oecd_bli = oecd_bli[oecd_bli["INEQUALITY"]=="TOT"]
oecd_bli = oecd_bli.pivot(index="Country", columns="Indicator", values="Value")

In [24]:
# zresetowanie indexu tabeli
oecd_bli = oecd_bli.reset_index()

# wyświetlenie info
oecd_bli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 25 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country                                            41 non-null     object
 1   Air pollution                                      41 non-null     float64
 2   Dwellings without basic facilities                 38 non-null     float64
 3   Educational attainment                             40 non-null     float64
 4   Employees working very long hours                  39 non-null     float64
 5   Employment rate                                    41 non-null     float64
 6   Feeling safe walking alone at night                41 non-null     float64
 7   Homicide rate                                      41 non-null     float64
 8   Household net adjusted disposable income           30 non-null     float64
 9   Household net wealth                               29 non-null     float64
 10  Housing expenditure                                39 non-null     float64
 11  Labour market insecurity                           34 non-null     float64
 12  Life expectancy                                    41 non-null     float64
 13  Life satisfaction                                  41 non-null     float64
 14  Long-term unemployment rate                        39 non-null     float64
 15  Personal earnings                                  36 non-null     float64
 16  Quality of support network                         41 non-null     float64
 17  Rooms per person                                   38 non-null     float64
 18  Self-reported health                               38 non-null     float64
 19  Stakeholder engagement for developing regulations  39 non-null     float64
 20  Student skills                                     40 non-null     float64
 21  Time devoted to leisure and personal care          23 non-null     float64
 22  Voter turnout                                      41 non-null     float64
 23  Water quality                                      41 non-null     float64
 24  Years in education                                 40 non-null     float64
dtypes: float64(24), object(1)
memory usage: 8.1+ KB

In [25]:
# mergowanie tabeli
full_country_stats = oecd_bli.merge(gdp_per_capita_2020, left_on="Country", right_on="Entity", how="inner")

In [26]:
# wyrzucamy nieinteresujące kolumny
full_country_stats = full_country_stats[["Country", "Life satisfaction", "GDP per capita (USD)"]]
full_country_stats = full_country_stats.sort_values(by="GDP per capita (USD)")

In [27]:
full_country_stats.to_csv(datapath / "lifesat_full.csv", index=False)